.header {
  display: flex;
  justify-content: space-between;
  /* background: rgb(48, 47, 47); */
}

.logo {
  width: 102px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}

.search{
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 250px;
  /* height: 310px; */
  background: #f0f0f0;
  padding: 5px;
  margin: 10px 25px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.filter-btn {
  margin: 10px 25px;
  cursor: pointer;
  padding: 5px 10px;
}